body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 1.5rem;
    line-height: 2rem;
}

button {
    font-size: 1.5rem;
    line-height: 2rem;
}


.container {
    display: grid;
    padding: 10px;
    border: solid;
    border-radius: 5px;
    border-color: black;
}

.generator {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 5px;
    display: grid;
    grid-column: 1;
}

.input {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    display: grid;
    grid-column: 1;
}

.display {
    display: grid;
    grid-column: 1;
}


.text-center {
    text-align: center;
}

.keys {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2px;
}

img {
    height: 1em;
    place-self: center;
    margin-top: 5px;
}

.col-span-full {
    grid-column: span 2 / span 2;
}

.notification {
    color: #e50909;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.text-nm {
    font-size: 1rem;
}

.text-green {
    color: #16771b;
}

.bg-yello {
    background-color: rgb(183, 183, 8);
}

.bg-red {
    background-color: rgb(197, 13, 13);
}

.bg-green {
    background-color: rgb(21, 91, 21);
}

.border-1 {
    border-width: 1px;
    border-radius: 2px;
}

.border-2 {
    border-color: black;
    border: solid;
    border-width: 2px;
}

button:hover {
    background-color: cadetblue;
    border-width: 1px;
    border-radius: 2px;
}

.bg-blue {
    background-color: burlywood;
}

.button-height {
    place-self: center;
    font-size: large;
}


@media (min-width: 640px) {
    .generator {
        grid-column: 2;
    }

    .input {
        grid-column: 3;
    }

    .keys {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .col-span-full {
        grid-column: span 3 / span 3;
    }

    .button-height {
        max-height: 2.5rem;
        place-self: center;
    }
}

@media (min-width: 768px) {
    .keys {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .col-span-full {
        grid-column: span 4 / span 4;
    }
}